{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="Klementina Dimitrova" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

     <!-- Local CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

         <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>
  <body>
 <div class="container-fluid fixed-top bg-pink position-relative">
      <div class="row">
        <div class="col-12 pomesti">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a href="{% url 'landingpage' %}" class="position-absolute logo_link">
              <img
                src="{% static 'images/viber_image_2022-04-20_15-03-58-843.png' %}"
                id="logo"
              />
            </a>
            <span class="healthy_food">HEALTHY FOOD</span>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto text-uppercase">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'landingpage' %}">
                    Home
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'profilpage' %}">PROFILE</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'aboutuspage' %}">ABOUT US</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'quizpage' %}">QUIZ</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
      <div class="container-fluid borrow">
        <div class="row">
            <div class="col-6"><h1 class=" float-right mt-4">DESSERTS</h1></div>
            <div class="col-6 d-flex justify-content-center mt-2">
                <div class="form-group mt-4 ml-5">
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="SEARCH">
                </div></div>
        </div>
        <div class="row ml-5">
            <div class="col-3 offset-1">
                <div class="card karticki" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/chia-seed-pudding.webp' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">CHIA PUDDING</h5>
                  <p class="card-text"><b>Ingredients:</b> <br>
                    1—1.5 cups of frozen strawberries
                    3 tbsp of chia seeds
                    1 tbsp of coconut nectar or maple syrup
                    a currants of salt
                    1 teaspoon (tsp) of lemon juice
                    1.5 cups of dairy or non-dairy milk </p>
                    <a href="#" class="float-right srcence mr-4"><img src="{% static 'images/Vector.png' %}" alt=""></a>
                  <a href="{% url 'chiaPage' %}" class="btn btn-rozevko mt-3 float-right">OPEN</a>
                </div>
              </div></div>
              <div class="col-3 offset-1 ml-0">
                <div class="card karticki" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/Chocolate-Covered-Strawerry-Brownies-5805.jpg' %}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">STRAWBERRY BROWNIES</h5>
                  <p class="card-text"><b>Ingredients:</b> <br>
                    1 1/2 cups chocolate chips divided
                    1/3 cup coconut oil
                    3 large eggs room temperature
                    3/4 cup sugar * See notes
                    1 teaspoon vanilla extract
                    3 tablespoons cocoa powder sifted
                    3 tablespoons tapioca starch
                    1/2 cup strawberries sliced</p>
                    <a href="#" class="float-right srcence mr-4"><img src="{% static 'images/Vector.png' %}" alt=""></a>
                  <a href="{% url 'browniesPage' %}" class="btn btn-rozevko float-right">OPEN</a>
                </div>
              </div></div>
              <div class="col-3 offset-1 ml-0">
                <div class="card karticki" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'images/chia-seed-pudding.webp' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">CHIA PUDDING</h5>
                    <p class="card-text"><b>Ingredients:</b> <br>
                      1—1.5 cups of frozen strawberries
                      3 tbsp of chia seeds
                      1 tbsp of coconut nectar or maple syrup
                      a currants of salt
                      1 teaspoon (tsp) of lemon juice
                      1.5 cups of dairy or non-dairy milk</p>
                      <a href="#" class="float-right srcence mr-4"><img src="{% static 'images/Vector.png' %}" alt=""></a>
                    <a href="{% url 'chiaPage' %}" class="btn btn-rozevko mt-3 float-right">OPEN</a>
                  </div>
              </div></div>
              
        </div>
        <div class="row ml-5">
          <div class="col-3 offset-1">
              <div class="card karticki" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'images/Chocolate-Covered-Strawerry-Brownies-5805.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">STRAWBERRY BROWNIES</h5>
                <p class="card-text"><b>Ingredients:</b> <br>
                  1 1/2 cups chocolate chips divided
                  1/3 cup coconut oil
                  3 large eggs room temperature
                  3/4 cup sugar * See notes
                  1 teaspoon vanilla extract
                  3 tablespoons cocoa powder sifted
                  3 tablespoons tapioca starch
                  1/2 cup strawberries sliced</p>
                  <a href="#" class="float-right srcence mr-4"><img src="{% static 'images/Vector.png' %}" alt=""></a>
                <a href="{% url 'browniesPage' %}" class="btn btn-rozevko float-right">OPEN</a>

              </div>
            </div></div>
            <div class="col-3 offset-1 ml-0">
              <div class="card karticki" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'images/chia-seed-pudding.webp' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">CHIA PUDDING</h5>
                <p class="card-text"><b>Ingredients:</b> <br>
                  1—1.5 cups of frozen strawberries
                  3 tbsp of chia seeds
                  1 tbsp of coconut nectar or maple syrup
                  a currants of salt
                  1 teaspoon (tsp) of lemon juice
                  1.5 cups of dairy or non-dairy milk</p>
                  <a href="#" class="float-right srcence mr-4"><img src="{% static 'images/Vector.png' %}" alt=""></a>
                <a href="{% url 'chiaPage' %}" class="btn btn-rozevko mt-3 float-right">OPEN</a>

              </div>
            </div></div>
            <div class="col-3 offset-1 ml-0">
              <div class="card karticki" style="width: 18rem;">
              <img class="card-img-top" src="{% static 'images/Chocolate-Covered-Strawerry-Brownies-5805.jpg' %}" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">STRAWBERRY BROWNIES</h5>
                <p class="card-text"><b>Ingredients:</b> <br>
                  1 1/2 cups chocolate chips divided
                  1/3 cup coconut oil
                  3 large eggs room temperature
                  3/4 cup sugar * See notes
                  1 teaspoon vanilla extract
                  3 tablespoons cocoa powder sifted
                  3 tablespoons tapioca starch
                  1/2 cup strawberries sliced</p>
                  <a href="#" class="float-right srcence mr-4"><img src="{% static 'images/Vector.png' %}" alt=""></a>
                <a href="{% url 'browniesPage' %}" class="btn btn-rozevko float-right">OPEN</a>

              </div>
            </div></div>
            
      </div>
      <div class="row py-5">
        <div class="col-12"><a href="{% url 'landingpage' %}" class="btn btn-rozevko back">BACK</a></div>
      </div>
      </div>
    <!-- Latest Font-Awesome CDN -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <!-- jQuery library -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>

    <!-- Latest Compiled Bootstrap 4 JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>